# Packages
node_modules

# Local Build files
.next

# Local setting
.git
.github
.vscode

# Test files
**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx

# Storybook files
.storybook
**/*.stories.tsx