# Packages
node_modules

# Local Build files
.next

# Local setting
.git
.gitignore
.github
.gitmodules
.vscode
dockerfile
docker-compose.yaml
.dockerignore
.prettierrc

# Test files
**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx

# Storybook files
.storybook
**/*.stories.tsx

# Other files
.DS_Store
openfortivpn-action
