# Add files here to ignore them from prettier formatting
/dist
/coverage
.changeset

# Next.js
.next

pnpm-lock.yaml

# Generate files
apps/admin-api/src/graphql.ts
apps/api/src/graphql.ts
packages/codegen/src/generated/**/*
