POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=USER_NAME
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DB_NAME
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
JWT_SECRET=12345678
GOOGLE_CLIENT_ID=AAAAAAA
GOOGLE_CLIENT_SECRET=BBBBBBB
NODE_ENV=development