.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  font-size: 20px;
}

.navbar > li {
  display: inline-block;
}

.navbar > li:hover {
  text-decoration: underline;
}
