@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FC Orbit';
  src: url('assets/fonts/FCOrbit-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@import 'tailwindcss';
@source "./components";

@theme {
  /* Dark mode configuration */
  --color-neutral-white: hsl(0 0% 100%);
  --color-neutral-50: hsl(240 20% 97%);
  --color-neutral-100: hsl(240 13% 94%);
  --color-neutral-200: hsl(235 15% 86%);
  --color-neutral-300: hsl(231 16% 74%);
  --color-neutral-400: hsl(230 15% 60%);
  --color-neutral-500: hsl(230 14% 51%);
  --color-neutral-600: hsl(230 15% 39%);
  --color-neutral-700: hsl(233 16% 32%);
  --color-neutral-800: hsl(231 14% 27%);
  --color-neutral-900: hsl(233 13% 24%);
  --color-blue-300: hsl(212 88% 93%);
  --color-blue-500: hsl(222 52% 53%);
  --color-blue-700: hsl(225 40% 33%);
  --color-tangerine-300: hsl(20 100% 88%);
  --color-tangerine-500: hsl(19 89% 67%);
  --color-tangerine-700: hsl(18 87% 53%);
  --color-yellow-300: hsl(46 85% 92%);
  --color-yellow-500: hsl(44 92% 77%);
  --color-yellow-700: hsl(40 97% 47%);
  --color-pink-300: hsl(324 90% 92%);
  --color-pink-500: hsl(324 86% 73%);
  --color-pink-700: hsl(324 84% 42%);
  --color-red-300: hsl(0 89% 93%);
  --color-red-500: hsl(0 92% 69%);
  --color-red-700: hsl(0 87% 37%);
  --color-orange-300: hsl(33 100% 87%);
  --color-orange-500: hsl(32 99% 61%);
  --color-orange-700: hsl(32 100% 45%);
  --color-green-300: hsl(98 97% 85%);
  --color-green-500: hsl(97 68% 50%);
  --color-green-700: hsl(97 69% 35%);
  --color-teal-300: hsl(166 100% 93%);
  --color-teal-500: hsl(166 68% 50%);
  --color-teal-700: hsl(166 50% 40%);
  --color-sky-300: hsl(205 95% 93%);
  --color-sky-500: hsl(205 85% 57%);
  --color-sky-700: hsl(205 85% 31%);
  --color-purple-300: hsl(285 91% 92%);
  --color-purple-500: hsl(285 76% 66%);
  --color-purple-700: hsl(285 67% 31%);
  --color-indigo-300: hsl(248 100% 92%);
  --color-indigo-500: hsl(248 82% 69%);
  --color-indigo-700: hsl(248 80% 31%);
  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));
  --color-primary-low: hsl(var(--primary-low));
  --color-primary-low-hover: hsl(var(--primary-low-hover));
  --color-primary-container: hsl(var(--primary-container));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-hover: hsl(var(--secondary-hover));
  --color-secondary-container: hsl(var(--secondary-container));
  --color-error: hsl(var(--error));
  --color-error-hover: hsl(var(--error-hover));
  --color-error-container: hsl(var(--error-container));
  --color-warning: hsl(var(--warning));
  --color-warning-hover: hsl(var(--warning-hover));
  --color-warning-container: hsl(var(--warning-container));
  --color-success: hsl(var(--success));
  --color-success-hover: hsl(var(--success-hover));
  --color-success-container: hsl(var(--success-container));
  --color-surface: hsl(var(--surface));
  --color-surface-dim: hsl(var(--surface-dim));
  --color-surface-bright: hsl(var(--surface-bright));
  --color-surface-container: hsl(var(--surface-container));
  --color-surface-container-low: hsl(var(--surface-container-low));
  --color-surface-container-lowest: hsl(var(--surface-container-lowest));
  --color-surface-container-high: hsl(var(--surface-container-high));
  --color-surface-container-highest: hsl(var(--surface-container-highest));
  --color-monday: hsl(var(--monday));
  --color-tuesday: hsl(var(--tuesday));
  --color-wednesday: hsl(var(--wednesday));
  --color-thursday: hsl(var(--thursday));
  --color-friday: hsl(var(--friday));
  --color-saturday: hsl(var(--saturday));
  --color-sunday: hsl(var(--sunday));
  --color-sc: hsl(var(--sc));
  --color-so: hsl(var(--so));
  --color-in: hsl(var(--in));
  --color-hu: hsl(var(--hu));
  --color-on-primary: hsl(var(--on-primary));
  --color-on-primary-hover: hsl(var(--on-primary-hover));
  --color-on-primary-low: hsl(var(--on-primary-low));
  --color-on-primary-container: hsl(var(--on-primary-container));
  --color-on-secondary: hsl(var(--on-secondary));
  --color-on-secondary-hover: hsl(var(--on-secondary-hover));
  --color-on-secondary-container: hsl(var(--on-secondary-container));
  --color-on-error: hsl(var(--on-error));
  --color-on-error-hover: hsl(var(--on-error-hover));
  --color-on-error-container: hsl(var(--on-error-container));
  --color-on-warning: hsl(var(--on-warning));
  --color-on-warning-hover: hsl(var(--on-warning-hover));
  --color-on-warning-container: hsl(var(--on-warning-container));
  --color-on-success: hsl(var(--on-success));
  --color-on-success-hover: hsl(var(--on-success-hover));
  --color-on-success-container: hsl(var(--on-success-container));
  --color-on-surface: hsl(var(--on-surface));
  --color-on-surface-var: hsl(var(--on-surface-var));
  --color-on-surface-disabled: hsl(var(--on-surface-disabled));
  --color-on-surface-placeholder: hsl(var(--on-surface-placeholder));
  --color-on-monday: hsl(var(--on-monday));
  --color-on-tuesday: hsl(var(--on-tuesday));
  --color-on-wednesday: hsl(var(--on-wednesday));
  --color-on-thursday: hsl(var(--on-thursday));
  --color-on-friday: hsl(var(--on-friday));
  --color-on-saturday: hsl(var(--on-saturday));
  --color-on-sunday: hsl(var(--on-sunday));
  --color-on-sc: hsl(var(--on-sc));
  --color-on-so: hsl(var(--on-so));
  --color-on-in: hsl(var(--on-in));
  --color-on-hu: hsl(var(--on-hu));

  /* Font sizes */
  --font-size-h1: var(--h1-font-size);
  --font-size-h2: var(--h2-font-size);
  --font-size-h3: var(--h3-font-size);
  --font-size-table-header: var(--table-header-font-size);
  --font-size-subtitle: var(--subtitle-font-size);
  --font-size-body1: var(--body1-font-size);
  --font-size-body2: var(--body2-font-size);
  --font-size-button1: var(--button1-font-size);
  --font-size-button2: var(--button2-font-size);
  --font-size-caption: var(--caption-font-size);

  /* Line heights */
  --line-height-h1: var(--h1-line-height);
  --line-height-h2: var(--h2-line-height);
  --line-height-h3: var(--h3-line-height);
  --line-height-table-header: var(--table-header-line-height);
  --line-height-subtitle: var(--subtitle-line-height);
  --line-height-body1: var(--body1-line-height);
  --line-height-body2: var(--body2-line-height);
  --line-height-button1: var(--button1-line-height);
  --line-height-button2: var(--button2-line-height);
  --line-height-caption: var(--caption-line-height);

  /* Ring widths */
  --ring-width-1\.5: 1.5px;

  /* Border radius */
  --radius-button: 0.625rem;

  /* Font families */
  --font-family-sans:
    'FC Orbit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-sarabun:
    'Sarabun', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    --neutral-white: 0 0% 100%;
    --neutral-50: 240 20% 97%;
    --neutral-100: 240 13% 94%;
    --neutral-200: 235 15% 86%;
    --neutral-300: 231 16% 74%;
    --neutral-400: 230 15% 60%;
    --neutral-500: 230 14% 51%;
    --neutral-600: 230 15% 39%;
    --neutral-700: 233 16% 32%;
    --neutral-800: 231 14% 27%;
    --neutral-900: 233 13% 24%;
    --blue-300: 212 88% 93%;
    --blue-500: 222 52% 53%;
    --blue-700: 225 40% 33%;
    --tangerine-300: 20 100% 88%;
    --tangerine-500: 19 89% 67%;
    --tangerine-700: 18 87% 53%;
    --yellow-300: 46 85% 92%;
    --yellow-500: 44 92% 77%;
    --yellow-700: 40 97% 47%;
    --pink-300: 324 90% 92%;
    --pink-500: 324 86% 73%;
    --pink-700: 324 84% 42%;
    --red-300: 0 89% 93%;
    --red-500: 0 92% 69%;
    --red-700: 0 87% 37%;
    --orange-300: 33 100% 87%;
    --orange-500: 32 99% 61%;
    --orange-700: 32 100% 45%;
    --green-300: 98 97% 85%;
    --green-500: 97 68% 50%;
    --green-700: 97 69% 35%;
    --teal-300: 166 100% 93%;
    --teal-500: 166 68% 50%;
    --teal-700: 166 50% 40%;
    --sky-300: 205 95% 93%;
    --sky-500: 205 85% 57%;
    --sky-700: 205 85% 31%;
    --purple-300: 285 91% 92%;
    --purple-500: 285 76% 66%;
    --purple-700: 285 67% 31%;
    --indigo-300: 248 100% 92%;
    --indigo-500: 248 82% 69%;
    --indigo-700: 248 80% 31%;

    --primary: var(--blue-500);
    --primary-hover: var(--blue-700);
    --primary-low: var(--blue-300);
    --primary-low-hover: var(--blue-500);
    --primary-container: var(--blue-300);
    --on-primary: var(--neutral-white);
    --on-primary-hover: var(--neutral-white);
    --on-primary-low: var(--blue-700);
    --on-primary-container: var(--blue-700);
    --secondary: var(--tangerine-500);
    --secondary-hover: var(--tangerine-700);
    --secondary-container: var(--tangerine-300);
    --on-secondary: var(--neutral-white);
    --on-secondary-hover: var(--neutral-white);
    --on-secondary-container: var(--tangerine-700);
    --error: var(--red-500);
    --error-hover: var(--red-700);
    --error-container: var(--red-300);
    --on-error: var(--neutral-white);
    --on-error-hover: var(--neutral-white);
    --on-error-container: var(--red-700);
    --warning: var(--yellow-500);
    --warning-hover: var(--yellow-700);
    --warning-container: var(--yellow-300);
    --on-warning: var(--neutral-white);
    --on-warning-hover: var(--neutral-white);
    --on-warning-container: var(--yellow-700);
    --success: var(--green-500);
    --success-hover: var(--green-700);
    --success-container: var(--green-300);
    --on-success: var(--neutral-white);
    --on-success-hover: var(--neutral-white);
    --on-success-container: var(--green-700);
    --surface-dim: var(--neutral-300);
    --surface: var(--neutral-white);
    --surface-bright: var(--neutral-white);
    --surface-container: var(--neutral-200);
    --surface-container-low: var(--neutral-100);
    --surface-container-lowest: var(--neutral-50);
    --surface-container-high: var(--neutral-300);
    --surface-container-highest: var(--neutral-400);
    --on-surface: var(--neutral-900);
    --on-surface-var: var(--primary);
    --on-surface-disabled: var(--neutral-200);
    --on-surface-placeholder: var(--neutral-200);

    --monday: var(--yellow-300);
    --on-monday: var(--yellow-700);
    --tuesday: var(--pink-300);
    --on-tuesday: var(--pink-500);
    --wednesday: var(--green-300);
    --on-wednesday: var(--green-700);
    --thursday: var(--orange-300);
    --on-thursday: var(--orange-700);
    --friday: var(--sky-300);
    --on-friday: var(--sky-700);
    --saturday: var(--indigo-300);
    --on-saturday: var(--indigo-700);
    --sunday: var(--red-300);
    --on-sunday: var(--red-700);

    --sc: var(--neutral-white);
    --on-sc: var(--yellow-700);
    --so: var(--neutral-white);
    --on-so: var(--green-700);
    --in: var(--neutral-white);
    --on-in: var(--purple-700);
    --hu: var(--neutral-white);
    --on-hu: var(--pink-700);

    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --table-header-font-size: 1rem;
    --subtitle-font-size: 1.125rem;
    --body1-font-size: 1.125rem;
    --body2-font-size: 1rem;
    --button1-font-size: 1.125rem;
    --button2-font-size: 1rem;
    --caption-font-size: 0.75rem;

    --h1-line-height: 2rem;
    --h2-line-height: 1.75rem;
    --h3-line-height: 1.5rem;
    --table-header-line-height: 1.125rem;
    --subtitle-line-height: 1.25rem;
    --body1-line-height: 1.75rem;
    --body2-line-height: 1.5rem;
    --button1-line-height: 1.25rem;
    --button2-line-height: 1.125rem;
    --caption-line-height: 0.875rem;
  }

  @media screen and (max-width: 640px) {
    :root {
      --h1-font-size: 1.25rem;
      --h2-font-size: 1rem;
      --h3-font-size: 1rem;
      --table-header-font-size: 0.75rem;
      --subtitle-font-size: 0.875rem;
      --body1-font-size: 0.875rem;
      --body2-font-size: 0.75rem;
      --button1-font-size: 0.875rem;
      --button2-font-size: 0.75rem;
      --caption-font-size: 0.625rem;

      --h1-line-height: 1.75rem;
      --h2-line-height: 1.5rem;
      --h3-line-height: 1.25rem;
      --table-header-line-height: 1rem;
      --subtitle-line-height: 1.125rem;
      --body1-line-height: 1.375rem;
      --body2-line-height: 1.25rem;
      --button1-line-height: 1.125rem;
      --button2-line-height: 1rem;
      --caption-line-height: 0.75rem;
    }
  }

  .dark {
    --neutral-900: 240 20% 97%;
    --neutral-800: 240 13% 94%;
    --neutral-700: 235 15% 86%;
    --neutral-600: 231 16% 74%;
    --neutral-500: 230 15% 60%;
    --neutral-400: 230 14% 51%;
    --neutral-300: 230 15% 39%;
    --neutral-200: 233 16% 32%;
    --neutral-100: 231 14% 27%;
    --neutral-50: 233 13% 24%;
    --blue-700: 212 88% 93%;
    --blue-500: 222 52% 53%;
    --blue-300: 225 40% 33%;
    --tangerine-700: 20 100% 88%;
    --tangerine-500: 19 89% 67%;
    --tangerine-300: 18 87% 53%;
    --yellow-700: 46 85% 92%;
    --yellow-500: 44 92% 77%;
    --yellow-300: 40 97% 47%;
    --pink-700: 324 90% 92%;
    --pink-500: 324 86% 73%;
    --pink-300: 324 84% 42%;
    --red-700: 0 89% 93%;
    --red-500: 0 92% 69%;
    --red-300: 0 87% 37%;
    --orange-700: 33 100% 87%;
    --orange-500: 32 99% 61%;
    --orange-300: 32 100% 45%;
    --green-700: 98 97% 85%;
    --green-500: 97 68% 50%;
    --green-300: 97 69% 35%;
    --teal-700: 166 100% 93%;
    --teal-500: 166 68% 50%;
    --teal-300: 166 50% 40%;
    --sky-700: 205 95% 93%;
    --sky-500: 205 85% 57%;
    --sky-300: 205 85% 31%;
    --purple-700: 285 91% 92%;
    --purple-500: 285 76% 66%;
    --purple-300: 285 67% 31%;
    --indigo-700: 248 100% 92%;
    --indigo-500: 248 82% 69%;
    --indigo-300: 248 80% 31%;

    --primary: var(--blue-700);
    --primary-hover: var(--blue-500);
    --primary-low: var(--blue-500);
    --primary-low-hover: var(--blue-700);
    --primary-container: var(--blue-500);
    --on-primary: var(--blue-300);
    --on-primary-hover: var(--neutral-white);
    --on-primary-low: var(--blue-300);
    --on-primary-container: var(--blue-700);
    --secondary: var(--tangerine-500);
    --secondary-hover: var(--tangerine-300);
    --secondary-container: var(--tangerine-300);
    --on-secondary: var(--neutral-white);
    --on-secondary-hover: var(--neutral-white);
    --on-secondary-container: var(--tangerine-700);
    --error: var(--red-500);
    --error-hover: var(--red-300);
    --error-container: var(--red-700);
    --on-error: var(--neutral-white);
    --on-error-hover: var(--neutral-white);
    --on-error-container: var(--red-300);
    --warning: var(--yellow-500);
    --warning-hover: var(--yellow-700);
    --warning-container: var(--yellow-300);
    --on-warning: var(--neutral-white);
    --on-warning-hover: var(--neutral-white);
    --on-warning-container: var(--yellow-700);
    --success: var(--green-500);
    --success-hover: var(--green-700);
    --success-container: var(--green-700);
    --on-success: var(--neutral-white);
    --on-success-hover: var(--neutral-white);
    --on-success-container: var(--green-300);
    --surface-dim: var(--neutral-300);
    --surface: var(--neutral-50);
    --surface-bright: var(--neutral-white);
    --surface-container: var(--neutral-300);
    --surface-container-low: var(--neutral-200);
    --surface-container-lowest: var(--neutral-100);
    --surface-container-high: var(--neutral-400);
    --surface-container-highest: var(--neutral-500);
    --on-surface: var(--neutral-900);
    --on-surface-var: var(--primary);
    --on-surface-disabled: var(--neutral-300);
    --on-surface-placeholder: var(--neutral-300);
  }
}

@layer base {
  * {
    @apply border-surface-container;
  }
  body {
    @apply bg-surface text-on-surface;
  }
}
