# Packages
node_modules

# Local Build files
dist

# Local setting
.git
.github
.vscode
Dockerfile
docker-compose.yaml
.dockerignore
.prettierrc
.gitignore

# Local volumes
volumes
courses
data

# Test files
**/*.test.ts
**/*.test.js
test

# Other files
.DS_Store
