*{
  color: gray;
  font-weight: 500;
  font-family: 'Sarabun', sans;
}
.storybook-input {
  display: flex;
  width: 250px;
  height: 40px; 
  border-radius: 10px; 
  border-width: 3px;
  padding-left: 16px; 
  padding-right: 16px; 
  color: black;
  margin-top: 3px;
  margin-bottom: 5px;
}

.storybook-input--primary {
  border: 3px solid #4A70C6;
  background-color: #F6F6F9;
}

.storybook-input--primary:hover {
  outline: none;
  border: 3px solid #4A70C6; /* Replace with the correct color variable */
}

.storybook-input--primary:focus-visible {
  outline: none;
  border: 3px solid #4A70C6; /* Replace with the correct color variable */
}

.storybook-input--error {
  border-color: #F96666; /* Replace with the error color variable */
  border: 3px solid #F96666; /* Replace with the correct color variable */
  color: var(--on-surface); /* Placeholder text color */
}

.storybook-input--error:focus-visible,
.storybook-input--error:hover {
  outline: none;
}

.storybook-input--success {
  border-color: #6CD62B; /* Replace with your success color variable */
  border: 3px solid #6CD62B; /* Replace with the correct color variable */
}

.storybook-input--success:focus-visible,
.storybook-input--success:hover {
  outline: none;
}

.storybook-input--disable {
  background-color: #F6F6F9; /* Replace with your color variable */
  border: none;
  cursor: not-allowed;
  border: 0;
  color: var(--on-surface-disabled); /* Placeholder text color */
}

.storybook-input--disable .placeholder {
  pointer-events: none;
}
